{{ define "gallery" }}
<div class="grid" id="gallery">
	{{ range .}}
	<figure class="{{ if .IsPortrait }}portrait{{ else }}landscape{{ end }}">
		<button
			type="button"
			class="outline secondary"
			aria-label="Wallpaper {{ .ID }}"
			data-on:click="@get('/wallpapers/{{ .ID }}').then(() => $modal.showModal())"
			data-indicator="fetchingModal{{ .ID }}"
			data-effect="$fetching = $fetchingModal{{ .ID }}"
			data-attr:aria-busy="$fetchingModal{{ .ID }} && 'true'"
			data-attr:disabled="$fetching"
		>
			<img src="{{ .TransformedURL }}" alt="wallpaper-{{ .ID }}" loading="lazy">
		</button>
	</figure>
	{{ end }}
</div>
{{ end }}
