<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style.css">
		<script
			type="module"
			src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.6/bundles/datastar.js"
		></script>
		<title>What's kept in time</title>
	</head>

	<body>
		<header class="container">
			<h1>What's kept in time</h1>
		</header>

		<main class="container-fluid" data-attr:disabled="$fetching">
			<aside>
				<nav>
					<ul
						data-signals:version=""
						data-on:click="@get('/wallpapers')"
						data-indicator:fetching
					>
						{{ range . }}
						<li>
							<button type="button" data-on:click="$version = {{ .ID }}">
								{{ .ID }}: {{ .KR }}
							</button>
						</li>
						{{ end }}
					</ul>
				</nav>
			</aside>

			<div>
				<div id="gallery"></div>
			</div>
		</main>

		<footer class="container">Footer</footer>

		<dialog id="modal"></dialog>
	</body>
</html>
