{{ define "modal" }}
<dialog
	id="modal"
	class="modal-backdrop"
	data-ref="modal"
	data-on:click="el.close()"
>
	<article class="modal">
		<header class="modal__header">
			<button
				autofocus
				class="btn btn--icon btn--light"
				aria-label="Close"
				data-on:click="$modal.close()"
			>
				X
			</button>
		</header>

		<div class="modal__body">
			<img src="{{ .PictureURL }}">
		</div>

		<footer class="modal__footer modal__footer--space-between">
			<div>{{ .Version }}</div>
			<div>Characters</div>
			<div>
				<a href="{{ .PictureURL }}">Source</a>
			</div>
		</footer>
	</article>
</dialog>
{{ end }}
