{{ define "wallpapers" }}
<ul id="wallpapers">
	{{ range .}}
	<li>
		<button data-on:click="@get('/wallpapers/{{ .ID }}')">
			<p>{{ .ID }}: {{ .Title }}</p>
		</button>
	</li>
	{{ end }}
</ul>
{{ end }}

{{ define "wallpaper" }}
<dialog open id="modal" data-ref="modal">
	<article>
		<header>
			<button
				aria-label="Close"
				rel="prev"
				data-on:click="$modal.close()"
			></button>
		</header>

		<img src="{{ .PictureURL }}">
		<div class="grid">
			<div>{{ .Version }}</div>
			<div>Characters</div>
			<div>
				<a href="{{ .PictureURL }}">Source</a>
			</div>
		</div>
	</article>
</dialog>
{{ end }}
