#gallery {
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));

  & .portrait {
    grid-row: span 2;
  }

  & .landscape {
    grid-column: span 2;
  }
}