@use "sass:map";
@use "settings" as *;

#gallery {
  align-items: center;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  justify-items: center;

  button {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    &[aria-busy="true"]::before {
      background-color: #FFFB;
      background-position: center;
      background-size: 2rem auto;
      border-radius: 100%;
      height: 3rem;
      width: 3rem;
    }
  }

  & .portrait {
    grid-row: span 2;
  }

  & .landscape {
    @if map.get($breakpoints, "lg") {
      @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        grid-column: span 2;
      }
    }
  }
}