@use "sass:map";
@use "settings" as *;

main {
  display: flex;
  flex-wrap: wrap;
  gap: var(#{$css-var-prefix}spacing);

  &> :first-child {
    flex: auto;
  }

  &> :last-child {
    flex: 9 55%;
  }
}