@use "sprucecss/scss/spruce" as *;
@use 'sass:color';

body:has(.modal[open]) {
  overflow: hidden;
}

.btn--light {
  @include btn-variant('light');

  &.btn--active {
    background-color: color('light-background-hover', 'btn');
    border-color: color('light-background-hover', 'btn');
    color: color('light-foreground-hover', 'btn');
  }
}

.modal {
  $this: &;

  &::backdrop {
    background-color: color.adjust($color-gray, $alpha: -0.5);
  }

  @include set-css-variable((--inline-size: 34rem));
  background-color: color("background");
  block-size: auto;
  border: 1px solid color("border");
  border-radius: config("border-radius-sm", $display);
  box-shadow: 0 0 spacer("xxs") hsl(201.15deg 72.03% 32.71% / 5%);
  inset: spacer("l:xl");
  outline: 0;
  position: relative;

  & article {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__header {
    align-items: start;
    display: flex;
    inset: spacer("l");
    justify-content: end;
    position: absolute;
  }

  &__body {
    display: flex;
    flex: auto;
    min-block-size: 0;
    min-inline-size: 0;
    padding: spacer-clamp("s", "m");

    img {
      max-block-size: 100%;
      max-inline-size: 100%;
    }
  }

  &__footer {
    align-items: center;
    border-block-start: 1px solid color("border");
    display: flex;
    gap: spacer("s");
    justify-content: end;
    padding: spacer("s") spacer-clamp("s", "m");

    &--space-between {
      justify-content: space-between;
    }
  }
}