@use "sprucecss/scss/spruce" as *;
@use 'sass:color';

/* body:has(.modal[open]) { */
/* overflow: hidden; */
/* } */

.btn--light {
  @include btn-variant('light');

  &.btn--active {
    background-color: color('light-background-hover', 'btn');
    border-color: color('light-background-hover', 'btn');
    color: color('light-foreground-hover', 'btn');
  }
}

.modal-backdrop:open {
  align-items: center;
  background-color: color.adjust($color-gray, $alpha: -0.5);
  block-size: auto;
  display: flex;
  flex-direction: column;
  inline-size: auto;
  justify-content: center;
  max-block-size: none;
  max-inline-size: none;
  overflow-y: auto;
}

.modal {
  $this: &;

  align-items: center;
  background-color: color("background");
  border: 1px solid color("border");
  border-radius: config("border-radius-sm", $display);
  box-shadow: 0 0 spacer("xxs") hsl(201.15deg 72.03% 32.71% / 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-block-size: 100%;
  max-inline-size: 100%;
  position: relative;

  &__header {
    align-items: start;
    display: flex;
    inset: spacer("l");
    justify-content: end;
    position: absolute;
  }

  &__body {
    block-size: 100%;
    display: flex;
    flex: auto;
    min-block-size: 0;
    min-inline-size: 0;
    padding: spacer-clamp("s", "m");

    img {
      max-block-size: 100%;
      max-inline-size: 100%;
    }
  }

  &__footer {
    align-items: center;
    align-self: normal;
    border-block-start: 1px solid color("border");
    display: flex;
    gap: spacer("s");
    justify-content: end;
    padding: spacer("s") spacer-clamp("s", "m");

    &--space-between {
      justify-content: space-between;
    }
  }
}