@use "sass:map";
@use "settings" as *;

dialog {
  flex-direction: column;

  >article {
    display: flex;
    flex-direction: column;
    width: auto;

    @if map.get($breakpoints, "lg") {
      @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        max-width: map.get(map.get($breakpoints, "lg"), "viewport");
      }
    }

    @if map.get($breakpoints, "sm") {
      @media (min-height: map.get(map.get($breakpoints, "sm"), "breakpoint")) {
        max-height: map.get(map.get($breakpoints, "sm"), "viewport");
      }
    }

    @if map.get($breakpoints, "md") {
      @media (min-height: map.get(map.get($breakpoints, "md"), "breakpoint")) {
        max-height: map.get(map.get($breakpoints, "md"), "viewport");
      }
    }

    @if map.get($breakpoints, "lg") {
      @media (min-height: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        max-height: map.get(map.get($breakpoints, "lg"), "viewport");
      }
    }

    >header {}

    >div {
      align-items: center;
      display: flex;
      flex: auto;
      flex-direction: column;
      height: 100%;
      min-height: 0;

      >img {
        max-height: 100%;
      }
    }

    >footer {
      display: flex;
      justify-content: space-around;
    }
  }
}