@use "sprucecss/scss/spruce" as *;
@use 'sass:color';

body:has(.modal[open]) {
  overflow: hidden;
}

.modal {
  $this: &;

  &::backdrop {
    background-color: color.adjust($color-gray, $alpha: -0.5);
  }

  @include set-css-variable((--inline-size: 34rem));
  background-color: color("background");
  border: 1px solid color("border");
  border-radius: config("border-radius-sm", $display);
  box-shadow: 0 0 spacer("xxs") hsl(201.15deg 72.03% 32.71% / 5%);
  inline-size: get-css-variable(--inline-size);
  max-inline-size: 100%;
  outline: 0;
  position: relative;

  &__header {
    align-items: start;
    display: flex;
    inset: spacer("l");
    justify-content: end;
    position: absolute;
  }

  &__title {
    font-size: font-size("h3");
    font-weight: 600;
    margin-block: 0;
  }

  &__body {
    padding: spacer-clamp("s", "m");
  }

  &__footer {
    align-items: center;
    border-block-start: 1px solid color("border");
    display: flex;
    gap: spacer("s");
    justify-content: end;
    padding: spacer("s") spacer-clamp("s", "m");

    &--space-between {
      justify-content: space-between;
    }

    input {
      flex-grow: 1;
      max-inline-size: 25rem;
    }
  }
}