@use "sprucecss/scss/spruce" as *;

.layout {
  @include layout-sidebar(0, 20rem);
}

.sidebar {
  @include layout-stack("s");
  padding-block: spacer-clamp('xs', 's');
  padding-inline: spacer-clamp('s', 'm');

  & header {
    font-size: font-size("h3");
    text-align: center
  }

  & nav {

    ul {
      @include clear-list;
      @include layout-stack("s");
    }

    li {}
  }

  & footer {
    text-align: center
  }
}