@use "sass:map";
@use "settings" as *;

main>aside {
  & nav {
    margin-top: calc(var(#{$css-var-prefix}block-spacing-vertical) / 2);

    position: sticky;
    top: calc((var(#{$css-var-prefix}block-spacing-vertical) / 2));
    max-height: calc(100dvh - var(#{$css-var-prefix}spacing));
    overflow: auto;
    transition: top var(#{$css-var-prefix}transition);
    transition-delay: 0.05s;

    & ul:first-of-type {
      margin: 0;
    }

    & li button {
      display: flex;
      gap: calc(var(#{$css-var-prefix}spacing) / 2);
      justify-content: center;
      width: 100%;

      &> :last-child {
        @if map.get($breakpoints, "md") {
          @media (min-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
            display: none;
          }
        }

        @if map.get($breakpoints, "lg") {
          @media (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            display: block;
          }
        }
      }
    }
  }
}