@use "sprucecss/scss/spruce" as * with ($settings : ("css-custom-properties": true));

@forward "container";
@forward "gallery";
@forward "modal";
@forward "sidebar";

@include generate-normalize;
@include generate-styles;